<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .navbar-nav>li
        {
        
        padding-left:20px;
        
        padding-right:20px;
        
        }
        
        </style>
    <link rel="Stylesheet" href="menu.css">
</head>

<body>
    
    <img src="mainex.jpg" width="100%">
    <nav class="navbar navbar-expand-lg navbar navbar-light" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><h4>홈</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><h4>이슈고르기</h4></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><h4>명예이슈전당</h4></a>
                    </li>
                    <li class="nav-item dropdown">
                        <h4>
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">갑론을박</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">1</a></li>
                            <li><a class="dropdown-item" href="#">2</a></li>
                            <li><a class="dropdown-item" href="#">3</a></li>
                            <li><a class="dropdown-item" href="#">4</a></li>
                        </ul>
                        </h4>
                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><h4>공지사항</h4> </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><h4>신고게시판</h4></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr class="hr-menu"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>