<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.galapagos.mapper.MemberMapper">
	<resultMap id="authMap" type="org.galapagos.domain.AuthVO">
		<result property="username" column="username" />
		<result property="authorization" column="authorization" />
	</resultMap>

	<resultMap id="memberMap"
		type="org.galapagos.domain.MemberVO">
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="nickname" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="registerDate" column="register_date" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<select id="read" resultMap="memberMap">
		select m.username, password,
		nickname, email, register_date, authorization
		from argument_member m
		left outer join argument_member_authorization a
		on m.username = a.username 
		where m.username = #{username}
	</select>


	<insert id="insert">
		insert into argument_member(username, password,
		nickname, email)
		values(#{username}, #{password},#{nickname}, #{email})
	</insert>


	<insert id="insertAuth">
		insert into argument_member_authorization(username, authorization)
		values(#{username}, #{authorization})
	</insert>
</mapper>








